target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Project exclude paths
/out/
/output/Troop0600B_Advancement_20260224/camp_scheduler/main.js
/output/Troop0600B_Advancement_20260224/images/logos/ScoutSightLogo_Large.png
/output/Troop0600B_Advancement_20260224/images/logos/ScoutSightSplash_Large.png
/output/Troop0600B_Advancement_20260224/camp_scheduler.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_camping.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_citizenship_in_society.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_citizenship_in_the_community.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_citizenship_in_the_nation.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_citizenship_in_the_world.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_communication.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_cooking.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_cycling.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_emergency_preparedness.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_environmental_science.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_family_life.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_first_aid.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_hiking.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_lifesaving.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_personal_fitness.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_personal_management.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_sustainability.html
/output/Troop0600B_Advancement_20260224/eagle_mb_detail_swimming.html
/output/Troop0600B_Advancement_20260224/eagle_mb_summary.html
/output/Troop0600B_Advancement_20260224/help.html
/output/Troop0600B_Advancement_20260224/index.html
/output/Troop0600B_Advancement_20260224/patrol_balancing.html
/output/Troop0600B_Advancement_20260224/scout_12848993.html
/output/Troop0600B_Advancement_20260224/scout_12856900.html
/output/Troop0600B_Advancement_20260224/scout_12856923.html
/output/Troop0600B_Advancement_20260224/scout_12900053.html
/output/Troop0600B_Advancement_20260224/scout_12957457.html
/output/Troop0600B_Advancement_20260224/scout_13483241.html
/output/Troop0600B_Advancement_20260224/scout_13534344.html
/output/Troop0600B_Advancement_20260224/scout_13960679.html
/output/Troop0600B_Advancement_20260224/scout_14042724.html
/output/Troop0600B_Advancement_20260224/scout_14125299.html
/output/Troop0600B_Advancement_20260224/scout_14410556.html
/output/Troop0600B_Advancement_20260224/scout_14565574.html
/output/Troop0600B_Advancement_20260224/scout_131043475.html
/output/Troop0600B_Advancement_20260224/scout_131044232.html
/output/Troop0600B_Advancement_20260224/scout_131371059.html
/output/Troop0600B_Advancement_20260224/scout_132317813.html
/output/Troop0600B_Advancement_20260224/scout_132513622.html
/output/Troop0600B_Advancement_20260224/scout_134746933.html
/output/Troop0600B_Advancement_20260224/scout_134747343.html
/output/Troop0600B_Advancement_20260224/scout_134800954.html
/output/Troop0600B_Advancement_20260224/scout_135632846.html
/output/Troop0600B_Advancement_20260224/scout_136816825.html
/output/Troop0600B_Advancement_20260224/scout_137167839.html
/output/Troop0600B_Advancement_20260224/scout_140172001.html
/output/Troop0600B_Advancement_20260224/scout_140233476.html
/output/Troop0600B_Advancement_20260224/scout_140233478.html
/output/Troop0600B_Advancement_20260224/scout_140258733.html
/output/Troop0600B_Advancement_20260224/scout_140263052.html
/output/Troop0600B_Advancement_20260224/scout_140584941.html
/output/Troop0600B_Advancement_20260224/scout_140698387.html
/output/Troop0600B_Advancement_20260224/scout_140805805.html
/output/Troop0600B_Advancement_20260224/scout_140808461.html
/output/Troop0600B_Advancement_20260224/scout_140828459.html
/output/Troop0600B_Advancement_20260224/scout_140925138.html
/output/Troop0600B_Advancement_20260224/scout_141266477.html
/output/Troop0600B_Advancement_20260224/scout_141274373.html
/output/Troop0600B_Advancement_20260224/scout_141391690.html
/output/Troop0600B_Advancement_20260224/scout_141521635.html
/output/Troop0600B_Advancement_20260224/scout_141525979.html
/output/Troop0600B_Advancement_20260224/scout_141565870.html
/output/Troop0600B_Advancement_20260224/scout_141598706.html
/output/Troop0600B_Advancement_20260224/scout_141797972.html
/output/Troop0600B_Advancement_20260224/scout_141798225.html
/output/Troop0600B_Advancement_20260224/scout_142015267.html
/output/Troop0600B_Advancement_20260224/scout_142053772.html
/output/Troop0600B_Advancement_20260224/scout_142120002.html
/output/Troop0600B_Advancement_20260224/trail_to_first_class.html
