<header class="site-header">
  <a href="index.html"><img src="images/logos/ScoutSightLogo_Large.png" alt="ScoutSight" class="site-logo-img" /></a>
  <nav class="site-nav">
    <a href="index.html">All Scouts</a>
    <a href="trail_to_first_class.html">Trail to First Class</a>
    <a href="eagle_mb_summary.html">Eagle MB Summary</a>
    [# th:if="${hasAdvancementPlansPage}"]<a href="advancement_plans.html">Advancement Plans</a>[/]
    [# th:if="${hasPatrolPage}"]<a href="patrol_balancing.html">Patrol Balancing</a>[/]
    [# th:if="${hasSchedulerPage}"]<a href="camp_scheduler.html">Camp Scheduler</a>[/]
    <a href="help.html">How To</a>
  </nav>
</header>
